* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-dashboard {
    display: flex;
    height: 100vh;
}

.navbar {
    background-color: #37474F;
    color: #ffffff;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.admin-details {
    font-size: 20px;
}

.sidebar {
    width: 200px;
    background-color: #263238; 
    color: #ffffff;
    padding: 5px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.logout-button {
    cursor: pointer;
    box-shadow: red;
}

.logout-button:hover {
    color: red;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
}

.sidebar li:hover {
    background-color: #455A64; 
}

.sidebar li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar li svg {
    margin-right: 10px;
}

.content-side {
    margin: 0 auto; 
    width: 80%; 
    margin-top: 20px;
  }

  .student-table1 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .student-table1 th,
  .student-table1 td {
    border: 1px solid #ccc;
    padding: 12px;
  }
  
  .student-table1 th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-align: left;
  }
  
  .student-table1 tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .student-table1 tbody tr:hover {
    background-color: #f0f0f0;
  }
  .view{
        background-color: #4caf50;
        border: none;
        color: white;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-right: 5px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
  }
  .delete {
    background-color: red;
    border: none;
    color: white;   
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .view:hover,
  .delete:hover {
    background-color: #0d0365;
  }
